@model InventarioViewModel

@{
	ViewData["title"] = "Inventario Detalle";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card-header bg-dark text-light ml-0 row container">
	<div class="col-6">
		<i class="fas fa-boxes"></i>Nuevo Inventario
	</div>
</div>

<form method="post" class="p-2">
	<input asp-for="@Model.Inventario.Id" hidden name="inventarioId"/>
	<div class="form-group row">
		<div class="col-2" style="text-align:right;">
			<label asp-for="@Model.Inventario.BodegaId" class="col-form-label" style="text-align:right;"></label>
		</div>
		<div class="col-4">
			@Html.DropDownListFor( b=> b.Inventario.BodegaId, Model.BodegaLista,"<Seleccione una Bodega>", new { @class="form-control" } )
			<span asp-validation-for="@Model.Inventario.BodegaId" class="text-danger"></span>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-2" style="text-align:right;">
			<label asp-for="@Model.InventarioDetalle.ProductoId" class="col-form-label" style="text-align:right;"></label>
		</div>
		<div class="col-4">
			@*@Html.DropDownListFor( b=> b.InventarioDetalle.ProductoId, Model.ProductoLista, "<Seleccione un producto>" , new { @class="form-control" } )*@
			<select name="producto" asp-items="@Model.ProductoLista" class="form-control" required></select>
			<span asp-validation-for="@Model.InventarioDetalle.ProductoId" class="text-danger"></span>
		</div>
		<div class="col-1">
			<label asp-for="@Model.InventarioDetalle.Cantidad" class="col-form-control"></label>
		</div>
		<div class="col-1">
			<input name="cantidad" id="cantidadId" class="form-control" maxlength="3" type="number" min="1" value="1" />
		</div>
		<div class="col-3">
			<button type="submit" class="btn btn-primary" asp-action="AgregarProductoPost" id="btnProducto">
			<i class="fas fa-plus"></i>
				Agregar
			</button>
		</div>

	</div>

</form>

<div>
	<table class="table table-striped boder">
		<thead class="table-dark">
			<tr class="table-secondary table-dark">
				<th>Producto</th>
				<th>Marca</th>
				<th style="text-align:right;">Costo</th>
				<th style="text-align:right;">Stock</th>
				<th style="text-align:right;">Cantidad</th>
				<th></th>
			</tr>
		</thead>
		<tbody style="font-size:14px;">
			@foreach (var filaDetalle in Model.InventarioDetalles)
			{
				<tr>
					<td>@Html.DisplayFor( x=> filaDetalle.Producto.Descripcion )</td>
					<td>@Html.DisplayFor( x=> filaDetalle.Producto.Marca.Nombre )</td>
					<td style="text-align:right;">@Html.DisplayFor( x=> filaDetalle.Producto.Costo)</td>
					<td style="text-align:right;">@Html.DisplayFor( x=> filaDetalle.StockAnterior )</td>
					<td style="text-align:right;color:blue;font-weight:bold;">@Html.DisplayFor( x=> filaDetalle.Cantidad)</td>
					<td>
						<a class="btn btn-primary text-white" asp-action="Mas" asp-route-id="@filaDetalle.Id"><i class="fas fa-plus"></i></a>
						<a class="btn btn-dark text-white" asp-action="Menos" asp-route-id="@filaDetalle.Id"><i class="fas fa-minus"></i></a>
					</td>
				</tr>
			} 
		</tbody>
	</table>
</div>

@if ( Model.InventarioDetalles.Count>0 )
{
	<div class="align-content-lg-center">
		<div class="col-2">
			<a class="btn btn-warning" asp-action="GenerarStock" asp-route-id="@Model.Inventario.Id">
				<i class="fas fa-save"></i>Generar Stock
			</a>
		</div>
	</div>
}

@section Scripts{
	<partial name="_ValidationScriptspartial"></partial>

	<script>
		$("#btnProducto").click( function(){
			const cantidad = document.getElementById("cantidadId").value;
			if(cantidad.toString() == '' || cantidad < 1){
				swal("Error", "Seleccione una cantidad correcta", "error");
				return false;
			}
		});
	</script>

}